.vagrant
/config.json
/_build

# I(Ian) sometimes like to leave myself short term notes for the next time I sit down, in this file:
/NOTES

# Default path for the mongo import/export; easy to accidentally commit:
mongo-snapshot

# Binary output of capnp compile
*.cgr

# Generated capnp outputs:
*.capnp.go

# Coverage profiles and the like
*.out

# Used by the lego (go let's encrypt) cli tool:
.lego

env.sh
