.vagrant
# Appears if you do `go build` in the root, though normally you'd just invoke make.go with `go run`:
/sandstorm-next
/config.json
/_build

# I(Ian) sometimes like to leave myself short term notes for the next time I sit down, in this file:
/NOTES

# Default path for the mongo import/export; easy to accidentally commit:
mongo-snapshot
