export ACME_DIRECTORY_URL='https://acme-staging-v02.api.letsencrypt.org/directory'
export SMTP_HOST=smtp.mailgun.org
export SMTP_PORT=587
export SMTP_USERNAME=testing@example.com
export SMTP_PASSWORD='secret'
