/* TODO: outline basic paradigm we use for styling. TL;DR:
 *
 * - Pick color and size constants once, up front, and then style everything from
 *   that pallet.
 * - Use semantic constants for colors (which are themselves defined in terms of the pallet).
 * - Use BEM-style classes for selectors.
 */
:root {
	/*** Color Pallet ***/

	/** Primary Colors **/
	/* TODO: numbers, like below? */

	--sandstorm-purple: #762f87;
	--sandstorm-darkpurple: #65468e;

	/** Greys (1-9) **/
	--grey-1: #191919;
	--grey-3: #383838;
	--grey-6: #9e9e9e;
	--grey-8: #efefef;
	--grey-9: #ffffff;

	/** Accents **/
	/* each of these will have shades 1-7, but I'm choosing them as I go. */
	--red-6: #ffdddd;
	--green-6: #ddffdd;
	--yellow-6: #ffffaa;

	/*** Symbolic Constants ***/
	--error-bgcolor: var(--red-6);
	--success-bgcolor: var(--green-6);
	--warning-bgcolor: var(--yellow-6);

	--topbar-bgcolor: var(--grey-1);
	--topbar-bgcolor-hover: var(--grey-6);
	--topbar-bgcolor-active: var(--grey-8);
	--topbar-color: var(--grey-6);
	--topbar-color-hover: var(--grey-9);
	--topbar-color-active: var(--grey-1);
	--topbar-border-color: var(--grey-3);

	--default-content-bgcolor: var(--grey-8);
	--default-content-color: var(--grey-1);
}

body {
	margin: 0px;
	padding: 0px;
}

.main-ui {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.main-ui__main {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.main-ui__topbar {
	background-color: var(--topbar-bgcolor);
	color: var(--topbar-color);
}

.main-ui__sidebar {
	/* XXX: either rename --topbar-* or use a different variable here. */
	background-color: var(--topbar-bgcolor);
	color: var(--topbar-color);
}

.main-ui__grain-iframe {
	flex: 1;
	height: 100%;
	border: none;
}

/* vim: set ts=8 sw=8 noet : */
